<!DOCTYPE html>
<html>
<head>
  <title>Salida de vehiculo</title>
</head>
<body>
  <h1>Salida de vehiculo</h1>
  <p>El vehiculo con placa <%= vehicle.plateNumber %> a salido.</p>
  <p>Tipo: <%= vehicle.type %></p>
  <p>Hora de entrada: <%= vehicle.entryTime %></p>
  <p>Hora de salida: <%= vehicle.exitTime %></p>
  <p>Duracion en estacionamiento: <%= vehicle.getParkingDuration() %> minutes</p>
  <p>Paga: $<%= vehicle.getParkingFee() %></p>
  <a href="/">Volver al inicio</a>
</body>
</html>
